@import 'https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.4/css/ibm-type.min.css';

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 1em;
  max-width: 80ch;
}

div#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
